<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="overlay">
    <div class="ion-text-center">Welcome to 121 Varsity</div>
  </ion-row>

  <ion-row class="footer">
    <div class="footer-text">navigate to verification</div>
  </ion-row>
  
  <ion-row class="footer">
    <div class="footer-text2">adventures await you</div>
  </ion-row>

  <ion-row class="credits">
    <div class="credits-text">Jeffrey Tran, 2022</div>
  </ion-row>

  <ion-card class="card">
    <img src="../assets/img/2127.jpg">
  </ion-card>
</ion-content>
